<!DOCTYPE html>

<head>
    <title>Dropdown</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            var $pekerjaanvar = $("#pekerjaanddl");
            $unitvar = $("#unitddl");
            $options = $unitvar.find('option');
            $pekerjaanvar.on('change', function () {
                $unitvar.html($options.filter('[value="' + this.value + '"]'));
            }).trigger('change');
        });
    </script>
</head>

<body>
    <center>
        <h1>DDL JQuery Django</h1>
    </center>

    <select id="pekerjaanddl">
        <option disabled selected="true"> --pekerjaan-- </option>
        {% for pekerjaan in datakerja %}
        <option value="{{pekerjaan.id}}">{{pekerjaan.nama}}</option>
        {% endfor %}
    </select>
    <select id="unitddl">
        <option disabled selected="true"> --unit-- </option>
        {% for unit in dataunit %}
        <option value="{{unit.id}}">{{unit.nama}}</option>
        {% endfor %}
    </select>
</body>

</html>